In [35]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

In [141]:
df = pd.read_csv('/Applications/Gursimran/Projects/duolingo/survey_data.csv')

In [142]:
df.head()

,user_id,age,annual_income,country,duolingo_platform,duolingo_subscriber,duolingo_usage,employment_status,future_contact,gender,other_resources,primary_language_commitment,primary_language_review,primary_language_motivation,primary_language_motivation_followup,primary_language_proficiency,student,survey_complete,time_spent_seconds
0,35c9fc6e72c911e99681dca9049399ef,18-34,"$26,000 - $75,000",JP,Android phone or tablet,"No, I have never paid for Duolingo Plus",Daily,Employed full-time,Yes,Male,"Stories/novels/children's books,Movies/TV Shows",I'm very committed to learning this language.,I am using Duolingo to review a language I've ...,I like to learn new languages,"I want to learn as many languages as I can,Oth...",Advanced,Not currently a student,1,193
1,35c9fdde72c911e98630dca9049399ef,18-34,"$26,000 - $75,000",JP,iPhone or iPad,"No, I have never paid for Duolingo Plus",Weekly,Employed full-time,Yes,Male,NaN,I'm slightly committed to learning this language.,I am using Duolingo to review a language I've ...,I need to be able to speak the local language ...,"I am an immigrant,I am a refugee",Intermediate,Not currently a student,1,139
2,35c9feb072c911e9ab4cdca9049399ef,18-34,"$76,000 - $150,000",JP,iPhone or iPad,"Yes, I currently pay for Duolingo Plus",Daily,Employed full-time,Yes,Male,NaN,I'm moderately committed to learning this lang...,I am using Duolingo to review a language I've ...,I want to connect with my heritage or identity,NaN,Beginner,Not currently a student,1,119
3,35c9ff7072c911e9900ddca9049399ef,18-34,"$76,000 - $150,000",JP,iPhone or iPad,"No, but I have previously paid for Duolingo Plus",Daily,Employed full-time,Yes,Female,Other apps,I'm very committed to learning this language.,I am using Duolingo to learn this language for...,I am preparing for a trip,I want to learn some basics in the local langu...,Intermediate,Not currently a student,1,229
4,35ca002672c911e99effdca9049399ef,35 - 54,"$76,000 - $150,000",JP,Android phone or tablet,"Yes, I currently pay for Duolingo Plus",Daily,Employed full-time,Yes,Male,NaN,I'm very committed to learning this language.,I am using Duolingo to learn this language for...,I want to connect with my heritage or identity,NaN,Intermediate,Not currently a student,1,157

In [143]:
# Initialize LabelEncoder for age
label_encoder_age = LabelEncoder()

# Fit and transform the 'age' column and assign it directly to the original column
df['age'] = label_encoder_age.fit_transform(df['age'].astype(str))

# Get the labels for each category in age
age_labels = label_encoder_age.classes_

# Display the labels for age
print("Labels for each category in the 'age' column:")
for encoded_value, label in enumerate(age_labels):
    print(f"Encoded value {encoded_value}: {label}")

# Now 'age' column contains the encoded values for age

# Initialize LabelEncoder for annual_income
label_encoder_income = LabelEncoder()

# Fit and transform the 'annual_income' column and assign it directly to the original column
df['annual_income'] = label_encoder_income.fit_transform(df['annual_income'].astype(str))

# Get the labels for each category in annual_income
income_labels = label_encoder_income.classes_

# Display the labels for annual_income
print("Labels for each category in the 'annual_income' column:")
for encoded_value, label in enumerate(income_labels):
    print(f"Encoded value {encoded_value}: {label}")

# Now 'annual_income' column contains the encoded values for annual_income

# Initialize LabelEncoder for country
label_encoder_country = LabelEncoder()

# Fit and transform the 'country' column and assign it directly to the original column
df['country'] = label_encoder_country.fit_transform(df['country'].astype(str))

# Get the labels for each category in country
country_labels = label_encoder_country.classes_

# Display the labels for country
print("Labels for each category in the 'country' column:")
for encoded_value, label in enumerate(country_labels):
    print(f"Encoded value {encoded_value}: {label}")

# Now 'country' column contains the encoded values for country

# Initialize LabelEncoder for duolingo_platform
label_encoder_platform = LabelEncoder()

# Fit and transform the 'duolingo_platform' column and assign it directly to the original column
df['duolingo_platform'] = label_encoder_platform.fit_transform(df['duolingo_platform'].astype(str))

# Get the labels for each category in duolingo_platform
platform_labels = label_encoder_platform.classes_

# Display the labels for duolingo_platform
print("Labels for each category in the 'duolingo_platform' column:")
for encoded_value, label in enumerate(platform_labels):
    print(f"Encoded value {encoded_value}: {label}")

# Now 'duolingo_platform' column contains the encoded values for duolingo_platform

# Initialize LabelEncoder for duolingo_subscriber
label_encoder_subscriber = LabelEncoder()

# Fit and transform the 'duolingo_subscriber' column and assign it directly to the original column
df['duolingo_subscriber'] = label_encoder_subscriber.fit_transform(df['duolingo_subscriber'].astype(str))

# Get the labels for each category in duolingo_subscriber
subscriber_labels = label_encoder_subscriber.classes_

# Display the labels for duolingo_subscriber
print("Labels for each category in the 'duolingo_subscriber' column:")
for encoded_value, label in enumerate(subscriber_labels):
    print(f"Encoded value {encoded_value}: {label}")

# Now 'duolingo_subscriber' column contains the encoded values for duolingo_subscriber

# Initialize LabelEncoder for duolingo_usage
label_encoder_usage = LabelEncoder()

# Fit and transform the 'duolingo_usage' column and assign it directly to the original column
df['duolingo_usage'] = label_encoder_usage.fit_transform(df['duolingo_usage'].astype(str))

# Get the labels for each category in duolingo_usage
usage_labels = label_encoder_usage.classes_

# Display the labels for duolingo_usage
print("Labels for each category in the 'duolingo_usage' column:")
for encoded_value, label in enumerate(usage_labels):
    print(f"Encoded value {encoded_value}: {label}")

# Now 'duolingo_usage' column contains the encoded values for duolingo_usage

# Initialize LabelEncoder for employment_status
label_encoder_employment = LabelEncoder()

# Fit and transform the 'employment_status' column and assign it directly to the original column
df['employment_status'] = label_encoder_employment.fit_transform(df['employment_status'].astype(str))

# Get the labels for each category in employment_status
employment_labels = label_encoder_employment.classes_

# Display the labels for employment_status
print("Labels for each category in the 'employment_status' column:")
for encoded_value, label in enumerate(employment_labels):
    print(f"Encoded value {encoded_value}: {label}")

# Now 'employment_status' column contains the encoded values for employment_status

# Initialize LabelEncoder for future_contact
label_encoder_contact = LabelEncoder()

# Fit and transform the 'future_contact' column and assign it directly to the original column
df['future_contact'] = label_encoder_contact.fit_transform(df['future_contact'].astype(str))

# Get the labels for each category in future_contact
contact_labels = label_encoder_contact.classes_

# Display the labels for future_contact
print("Labels for each category in the 'future_contact' column:")
for encoded_value, label in enumerate(contact_labels):
    print(f"Encoded value {encoded_value}: {label}")

# Now 'future_contact' column contains the encoded values for future_contact

# Initialize LabelEncoder for gender
label_encoder_gender = LabelEncoder()

# Fit and transform the 'gender' column and assign it directly to the original column
df['gender'] = label_encoder_gender.fit_transform(df['gender'].astype(str))

# Get the labels for each category in gender
gender_labels = label_encoder_gender.classes_

# Display the labels for gender
print("Labels for each category in the 'gender' column:")
for encoded_value, label in enumerate(gender_labels):
    print(f"Encoded value {encoded_value}: {label}")

# Now 'gender' column contains the encoded values for gender

# Initialize LabelEncoder for primary_language_commitment
label_encoder_commitment = LabelEncoder()

# Fit and transform the 'primary_language_commitment' column and assign it directly to the original column
df['primary_language_commitment'] = label_encoder_commitment.fit_transform(df['primary_language_commitment'].astype(str))

# Get the labels for each category in primary_language_commitment
commitment_labels = label_encoder_commitment.classes_

# Display the labels for primary_language_commitment
print("Labels for each category in the 'primary_language_commitment' column:")
for encoded_value, label in enumerate(commitment_labels):
    print(f"Encoded value {encoded_value}: {label}")

# Now 'primary_language_commitment' column contains the encoded values for primary_language_commitment

# Initialize LabelEncoder for primary_language_review
label_encoder_review = LabelEncoder()

# Fit and transform the 'primary_language_review' column and assign it directly to the original column
df['primary_language_review'] = label_encoder_review.fit_transform(df['primary_language_review'].astype(str))

# Get the labels for each category in primary_language_review
review_labels = label_encoder_review.classes_

# Display the labels for primary_language_review
print("Labels for each category in the 'primary_language_review' column:")
for encoded_value, label in enumerate(review_labels):
    print(f"Encoded value {encoded_value}: {label}")

# Now 'primary_language_review' column contains the encoded values for primary_language_review

# Initialize LabelEncoder for primary_language_motivation
label_encoder_motivation = LabelEncoder()

# Fit and transform the 'primary_language_motivation' column and assign it directly to the original column
df['primary_language_motivation'] = label_encoder_motivation.fit_transform(df['primary_language_motivation'].astype(str))

# Get the labels for each category in primary_language_motivation
motivation_labels = label_encoder_motivation.classes_

# Display the labels for primary_language_motivation
print("Labels for each category in the 'primary_language_motivation' column:")
for encoded_value, label in enumerate(motivation_labels):
    print(f"Encoded value {encoded_value}: {label}")

# Now 'primary_language_motivation' column contains the encoded values for primary_language_motivation

# Initialize LabelEncoder for primary_language_proficiency
label_encoder_proficiency = LabelEncoder()

# Fit and transform the 'primary_language_proficiency' column and assign it directly to the original column
df['primary_language_proficiency'] = label_encoder_proficiency.fit_transform(df['primary_language_proficiency'].astype(str))

# Get the labels for each category in primary_language_proficiency
proficiency_labels = label_encoder_proficiency.classes_

# Display the labels for primary_language_proficiency
print("Labels for each category in the 'primary_language_proficiency' column:")
for encoded_value, label in enumerate(proficiency_labels):
    print(f"Encoded value {encoded_value}: {label}")

# Now 'primary_language_proficiency' column contains the encoded values for primary_language_proficiency

# Initialize LabelEncoder for student
label_encoder_student = LabelEncoder()

# Fit and transform the 'student' column and assign it directly to the original column
df['student'] = label_encoder_student.fit_transform(df['student'].astype(str))

# Get the labels for each category in student
student_labels = label_encoder_student.classes_

# Display the labels for student
print("Labels for each category in the 'student' column:")
for encoded_value, label in enumerate(student_labels):
    print(f"Encoded value {encoded_value}: {label}")

Labels for each category in the 'age' column:
Encoded value 0: 18-34
Encoded value 1: 35 - 54
Encoded value 2: 55 - 74
Encoded value 3: 75 or older
Encoded value 4: Under 18
Encoded value 5: nan
Labels for each category in the 'annual_income' column:
Encoded value 0: $0 - $10,000
Encoded value 1: $11,000 - $25,000
Encoded value 2: $151,000 or more
Encoded value 3: $26,000 - $75,000
Encoded value 4: $76,000 - $150,000
Encoded value 5: nan
Labels for each category in the 'country' column:
Encoded value 0: BR
Encoded value 1: CO
Encoded value 2: DE
Encoded value 3: FR
Encoded value 4: GB
Encoded value 5: JP
Encoded value 6: MX
Encoded value 7: RU
Encoded value 8: TW
Encoded value 9: US
Labels for each category in the 'duolingo_platform' column:
Encoded value 0: Android phone or tablet
Encoded value 1: Web browser
Encoded value 2: iPhone or iPad
Encoded value 3: nan
Labels for each category in the 'duolingo_subscriber' column:
Encoded value 0: I don't know if I pay for Duolingo Plus
Encoded value 1: No, I have never paid for Duolingo Plus
Encoded value 2: No, but I have previously paid for Duolingo Plus
Encoded value 3: Yes, I currently pay for Duolingo Plus
Encoded value 4: nan
Labels for each category in the 'duolingo_usage' column:
Encoded value 0: Daily
Encoded value 1: I don't use Duolingo
Encoded value 2: Less than once a month
Encoded value 3: Monthly
Encoded value 4: Weekly
Encoded value 5: nan
Labels for each category in the 'employment_status' column:
Encoded value 0: Employed full-time
Encoded value 1: Employed part-time
Encoded value 2: Retired
Encoded value 3: Unemployed
Encoded value 4: nan
Labels for each category in the 'future_contact' column:
Encoded value 0: No
Encoded value 1: Yes
Encoded value 2: nan
Labels for each category in the 'gender' column:
Encoded value 0: Female
Encoded value 1: Male
Encoded value 2: Other
Encoded value 3: Prefer not to say
Encoded value 4: nan
Labels for each category in the 'primary_language_commitment' column:
Encoded value 0: I'm extremely committed to learning this language.
Encoded value 1: I'm moderately committed to learning this language.
Encoded value 2: I'm not at all committed to learning this language.
Encoded value 3: I'm slightly committed to learning this language.
Encoded value 4: I'm very committed to learning this language.
Encoded value 5: nan
Labels for each category in the 'primary_language_review' column:
Encoded value 0: I am using Duolingo to learn this language for the first time.
Encoded value 1: I am using Duolingo to review a language I've studied before.
Encoded value 2: nan
Labels for each category in the 'primary_language_motivation' column:
Encoded value 0: I am interested in a culture that speaks this language
Encoded value 1: I am preparing for a trip
Encoded value 2: I don't want to forget what I've previously learned
Encoded value 3: I like to learn new languages
Encoded value 4: I need to be able to speak the local language where I live
Encoded value 5: I need to learn this language for school
Encoded value 6: I want my family to learn a language together
Encoded value 7: I want to advance professionally or economically
Encoded value 8: I want to challenge myself
Encoded value 9: I want to connect with my heritage or identity
Encoded value 10: I want to improve relationships with some of the people in my life
Encoded value 11: I want to keep my brain healthy
Encoded value 12: I want to use my time more productively
Encoded value 13: nan
Labels for each category in the 'primary_language_proficiency' column:
Encoded value 0: Advanced
Encoded value 1: Beginner
Encoded value 2: Intermediate
Encoded value 3: nan
Labels for each category in the 'student' column:
Encoded value 0: Full-time student
Encoded value 1: Not currently a student
Encoded value 2: Part-time student
Encoded value 3: nan

In [139]:
df.head()

,user_id,age,annual_income,country,duolingo_platform,duolingo_subscriber,duolingo_usage,employment_status,future_contact,gender,other_resources,primary_language_commitment,primary_language_review,primary_language_motivation,primary_language_motivation_followup,primary_language_proficiency,student,survey_complete,time_spent_seconds
0,35c9fc6e72c911e99681dca9049399ef,0,3,5,0,1,0,0,1,1,"Stories/novels/children's books,Movies/TV Shows",4,1,3,"I want to learn as many languages as I can,Oth...",0,1,1,193
1,35c9fdde72c911e98630dca9049399ef,0,3,5,2,1,4,0,1,1,NaN,3,1,4,"I am an immigrant,I am a refugee",2,1,1,139
2,35c9feb072c911e9ab4cdca9049399ef,0,4,5,2,3,0,0,1,1,NaN,1,1,9,NaN,1,1,1,119
3,35c9ff7072c911e9900ddca9049399ef,0,4,5,2,2,0,0,1,0,Other apps,4,0,1,I want to learn some basics in the local langu...,2,1,1,229
4,35ca002672c911e99effdca9049399ef,1,4,5,0,3,0,0,1,1,NaN,4,0,9,NaN,2,1,1,157

In [145]:
df['time_spent_seconds'].unique()

array([ 193,  139,  119, ..., -285, -293, -284])